/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.action-column {
    width: 75px;
}

.checkbox-list-vertical label {
    display: block;
}

.leftpanel .profile-left .profile-thumb {
    margin-top: 5px;
}

@media screen and (max-width: 480px) {
    .pageheader {
        height: auto;
    }

    .leftpanel .profile-left .media-heading {
        margin-top: 12px;
    }
}

.nav.nav-pills.nav-stacked li a i {
    margin-right: 5px;
}

/**
 * В RBAC пользователей сделать селект немнго побольше
 */
#children {
    width: 100%;
    height: 150px;
}

/**
 * Адаптивеность таблиц
 */
@media screen and (max-width: 640px) {
    .grid-view {
        overflow-x: scroll;
    }

    table {
        overflow-x: auto;
        display: block;
    }
}

/**
 * Меню в разделе страниц
 */
.pages-menu, .pages-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pages-menu ul {
    margin-left: 20px;
}

.pages-menu .item {
    position: relative;
    margin-bottom: 2px;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    overflow-x: hidden;
}

.pages-menu .item a.link {
    /*white-space: nowrap;*/
}

.pages-menu .item:hover {
    background-color: lightgrey;
}

.pages-menu .item .actions {
    display: none;
    position: absolute;
    right: 5px;
    top: 6px;
}

.pages-menu .item .actions a {
    color: grey;
}

.pages-menu .item .actions a:hover {
    color: #337ab7;
}

.pages-menu .item:hover > .actions {
    display: inline;
}

.pages-menu li.active > .item {
    background-color: #428bca;
}

.pages-menu li.active > .item .link {
    color: #fff;
}

.pages-menu li.active > .item .actions a {
    color: #fff;
}

.pages-menu li.active > .item .actions a:hover {
    color: gainsboro;
}

.pages-menu.drag-processing, .pages-menu ul.drag-processing {
    min-height: 10px;
}

.pages-menu li.parent.active > .item:before {
    color: white;
}

.pages-menu li.parent > .item:before {
    font-family: 'FontAwesome';
    /*content: '\f107';*/
    content: '\f105';
}

.pages-menu li.parent.open > .item:before {
    font-family: 'FontAwesome';
    content: '\f107';
}

.pages-menu li.parent > ul {
    display: none;
}

.pages-menu li.parent.open > ul {
    display: block;
}

.pages-menu .frontend-url {
    display: block;
}

.pages-menu li.active > .item .frontend-url {
    color: white;
}

.page-image-gallery-list {
    margin-top: 10px;
    text-align: center;
}

.page-image-gallery-item {
    display: inline-block;
    position: relative;
    padding-right: 7px;
    padding-bottom: 7px;
}

.page-image-gallery-item .img-wrapper {
    display: block;
    text-align: center;
}

.page-image-gallery-item img {
    width: 100%;
    max-width: max-content;
    height: auto;
}

.page-image-gallery-item .actions {
    display: none;
    position: absolute;
    top: 7px;
    left: 0;
    width: 100%;
    text-align: center;
}

.page-image-gallery-item:hover .actions {
    display: block;
}